.total__amount {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 15px;
}

.cart__buttons {
  margin-top: 1.5rem;
}

.cart__btn {
  border-radius: 15px;
  font-size: 0.9rem;
  border: none;
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.cart__order {
  background-color: #ea5c2b;
  color: #fff;
}

.cart__close {
  background-color: transparent;
  border: 1px solid #ea5c2b;
  margin-right: 0.5rem;
}

@media (max-width: 400px) {
  .cart__buttons {
    display: flex;
    justify-content: space-between;
  }
  .total__amount h4 {
    font-size: .92rem;
  }
  .total__amount span {
    font-size: .9rem;
  }
}
