.amount__food {
  width: 60px;
  align-self: flex-end;
  border: none;
  border: 1px solid #aaa;
  border-radius: 15px;
  padding: 0.3rem;
}

.submit__form {
  background-color: #95cd41;
  border: none;
  font-size: 0.8rem;
  margin: 1rem .5rem 0 0;
  padding: 0.2rem 0.8rem;
  border-radius: 15px;
  cursor: pointer;
}
