.list__foods {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 50%;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 12rem auto 0;
}

.list__ul {
  max-height: 20rem;
  overflow: scroll;
}

@media (max-width: 768px) {
  .list__foods {
    width: 88%;
  }
}
