.form {
  display: flex;
  align-items: center;
}

.amount__food {
  width: 60px;
  align-self: flex-end;
  border: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0.3rem;
  outline: none;
}

.amount__food_error {
  border-color: red;
}

.submit__form {
  border: none;
  width: 35px;
  height: 35px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
}
.submit__form img {
  width: 100%;
}

.error__message {
  font-size: .8rem;
  color: red;
  margin: .5rem 0 0 -1rem;
}

@media (max-width: 400px) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .amount__food {
    align-self: center;
    margin-top: 1rem;
  }
  .modal__item {
    flex-direction: column;
  }
  .modal__item-right {
    text-align: center;
  }
  .modal__item-left {
    margin-top: 1.5rem;
  }
  .cart__buttons {
    display: flex;
    justify-content: space-between;
  }
  .total__amount h4 {
    font-size: .92rem;
  }
  .total__amount span {
    font-size: .9rem;
  }
}
