.food__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.food__item:not(:last-child) {
  border-bottom: 2px solid #95cd4170;
}

.food__item-title {
  font-size: 1.1rem;
  color: #ff7f3f;
}

.food__item-price {
  display: inline-block;
  font-size: 0.9rem;
  background-color: #f6d860;
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
  margin-top: 0.6rem;
}

@media (max-width: 400px) {
  .food__item {
    flex-direction: column;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .amount__input {
    align-self: center;
    margin-top: 1rem;
  }
  .modal__item {
    flex-direction: column;
  }
  .modal__item-right {
    text-align: center;
  }
  .modal__item-left {
    margin-top: 1.5rem;
  }
  .cart__buttons {
    display: flex;
    justify-content: space-between;
  }
  .total__amount h4 {
    font-size: .92rem;
  }
  .total__amount span {
    font-size: .9rem;
  }
}
