.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 1rem 6rem;
    background-color: #ea5c2b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 5rem 8px rgba(0, 0, 0, 0.7);
    z-index: 1999;
  }
  
  .header__title {
    color: #fff;
  }