.cart__button {
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 10px;
  background-color: #E8E2E2;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.cart__badge {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
  line-height: 20px;
  margin-right: 1rem;
  color: #333;
  transition: all 0.2s;
}


.bump {
  animation: bump .3s ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 576px) {
  .cart__button {
    padding: 0.3rem 1rem;
  font-size: .8rem;
  }
}
